<h2 class="center">Registro de usuario</h2>

<div class="row col white s10 offset-s1 m6 offset-m3 l4 offset-l4 z-depth-1">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field col s12">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="input-field col s12">
    <%= f.label "contraseña (6 caracteres mínimo)" %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="input-field col s12">
    <%= f.label "cofirmar contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions col s12 row">
    <%= f.submit "Registrarme", class: "btn waves-effect waves-light col s10 offset-s1" %>
  </div>
<% end %>
<div class="row">
<%= render "devise/shared/links" %>
</div>
</div>