<!DOCTYPE html>
<html>

<head>
  <title>RepoPhone</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= favicon_link_tag 'favicon.ico' %>
  <%= tinymce_assets %>
  <body>
    <nav>
      <div class="nav-wrapper fixed">
        <a href=<%= root_path %> class="brand-logo center">RepoPhone<span>.com</span></a>
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
        <div class="shopping-cart-container">
          <a href="#">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <div class="chip">5</div>
          </a>
        </div>
      </div>
    </nav>

    <ul id="slide-out" class="side-nav">
      <% if user_signed_in? %>
        <li>
          <div class="user-view">
            <div class="background">
              <img src=<%= asset_path('common/background.png') %>>
            </div>
            
            
                <a href="#!user"><img class="circle" src=<%= asset_path( 'common/user.png') %>></a>
                <a href="#!name"><span class="black-text name">UserName</span></a>
                <a href="#!email"><span class="black-text email"><%= current_user.email %></span></a>
                <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete%>
          </div>
        </li>
      <% else %>
        <ul class="collapsible collapsible-accordion no-padding">
          <li>
            <a href="#" class="collapsible-header waves-effect waves-teal"><i class="fa fa-th-large"></i>Mi cuenta</a>
              <div class="collapsible-body" style="display: block;">
                <ul>
                  <li><a href=<%= root_path %>><i class="material-icons">home</i>Registrarme</a></li>
                  <li><a href=<%= root_path %>><i class="material-icons">Registrarse</i>Iniciar sesión</a></li>
              </div>
            </li>
          </ul>
        
        <li><%= link_to 'registrarse', user_session_path %></li>
      <% end %>
      <li><a href=<%= root_path %>><i class="material-icons">home</i>Inicio</a></li>
      <li><a href=<%= catalogo_path %>><i class="material-icons">dvr</i>Catálogo</a></li>
      <li><a href="#!"><i class="material-icons">card_giftcard</i>Promociones</a></li>
    </ul>

    <div class="row content">
      <br><br>
      <%= yield %>
    </div>
  </body>


  <footer class="page-footer blue-grey darken-4 center">
    <div class="container">
      <div class="row">
        <h5 class="white-text">Contactanos</h5>
        <div class="social-bar">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-whatsapp" aria-hidden="true"></i>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <p class="grey-text text-lighten-2">Tel: ########</p>
        <p class="grey-text text-lighten-1">Políticas de Privacidad</p>
        <p class="grey-text text-lighten-1 close-text">Términos y Condiciones</p>
      </div>
    </div>
    <div class="footer-copyright grey darken-4">
      <div class="container">
        © 2017 Copyright Text
      </div>
    </div>
  </footer>

</html>